<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Facespace</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
  <header class="header">
    <a href="/">
      <h1 class='site-title'>Facespace</h1>
    </a>

    <% if (Object.keys(currentUser) != 0) { %>

    <span class='login'>Howdy, <%= currentUser.name %></span>

    <% } else { %>

    <a href="/signin" class='login'>Sign in</a>

    <% } %>

  </header>